html
    header
        title Título
    body
        p ticket: #{TICKET}
        p descripcion: #{DESCRIPCION}
        p tipo: #{TIPO}
        p grupo_resolutor: #{RESOLUTORGROUP}
        p clasificacion_nivel_3: #{ID_CLASIFICACION3}
        p cumple_fcr: #{CUMPLEFCR}
        p detalle: #{DETALLE}
        p solucion: #{SOLUCION}